<h1>The Funeral</h1>

<ul>
  <h3 class='field'>
    <div class=''>
      <li>Name: <%= @funeral.location %> </li>
    </div>
  </h3>
    <li>
      <%= link_to 'Edit', edit_deceased_funeral_path(@deceased, @funeral), class: 'btn grey darken-2' %>
      <%= link_to 'Delete', deceased_funeral_path(@deceased, @funeral), method: :delete, data: {confirm: 'Really Delete?'}, class: 'btn grey darken-2' %>
    </li>
</ul>

<%= link_to 'Back', :back, class: 'btn grey darken-2' %>
<%= link_to 'Funeral Home', deceased_funerals_path(@deceased), class: 'btn grey darken-2' %>