<%= form_for @mortuary do |f| %>
  <div class='field'>
    <div class=''>
      <h3><%= f.label :name, autofocus: true %></h3>
      <h5><%= f.text_field :name %></h5>
    </div><br />
    
    <div class=''>
      <h3><%= f.label :city %></h3>
      <h5><%= f.text_field :city %></h5>
    </div><br />

    <div class=''>
      <h3><%= f.label :state %></h3>
      <h5><%= f.text_field :state %></h5>
    </div><br />
  </div>

  <%= f.submit 'Submit', class: 'btn'%>
<% end %>
