<h1>The Mortuaries</h1>

<div class='field'>
  <% if @mortuaries.any? %>
    <% @mortuaries.each do |mortuary| %>
      <div class='col s12 m3'>
        <h5><%= mortuary.name %></h5>
        <%= link_to 'Show', mortuary_path(mortuary), class: 'btn' %>
        <%= link_to 'The Deceased', mortuary_deceaseds_path(mortuary), class: 'btn' %>
      </div>
    <% end %>
  <% else %>
    <h4>There are no mortuaries. Please add one.</h4>
  <% end %>
</div>

<%= link_to 'New Mortuary', new_mortuary_path %>

<div class=''>
  <%= will_paginate @mortuary %>
</div>
